<%- include('partials/header', { title: 'Create lecturer' }) %>
<h1>Create lecturer:</h1>
<form action="/lecturer-created" method="POST">
    <div>
        <label for="firstName">First name:</label>
        <input type="firstName" name="firstName" id="firstName"/>
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input type="lastName" name="lastName" id="lastName"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>
    </div>
    <div>
        <label for="yearsOfExperience">Experience (years):</label>
        <input type="yearsOfExperience" name="yearsOfExperience" id="yearsOfExperience"/>
    </div>
    <div>
        <label for="office">Office:</label>
        <input type="office" name="office" id="office"/>
    </div>
    <div>
        <label for="subjects">Select subjects:</label><br />
        <% subjects.forEach(subject => { %>
            <input type="checkbox" name="subjects" value="<%= subject.id %>" id="<%= subject.id %>" />
            <label for="<%= subject.id %>"><%= subject.subject %></label><br />
        <% }) %>
    </div>

    <div>
        <label for="groups">Select student groups:</label><br />
        <% groups.forEach(group => { %>
            <input type="checkbox" name="groups" value="<%= group.id %>" id="<%= group.id %>" />
            <label for="<%= group.id %>"><%= group.name %></label><br />
        <% }) %>
    </div>

    <button type="submit">Create lecturer</button>
</form>
<%- include('partials/footer')%>