<%- include('partials/header', { title: `${selectedLecturer.firstName} ${selectedLecturer.lastName}` }) %>

<a href="/">Go back to home page</a>

<h1>Lecturer</h1>
<ul> 
    <li>First name: <%= selectedLecturer.firstName%></li>
    <li>Last name: <%= selectedLecturer.lastName%></li>
    <li>Department: <%= selectedLecturer.department%></li>
    <li>Email: <%= selectedLecturer.email%></li>
    <li>Experience: <%= selectedLecturer.yearsOfExperience %></li>
    <li>Office: <%= selectedLecturer.office%></li>
</ul>

<a href="/edit-lecturer/<%= selectedLecturer.id %>">Edit lecturer</a>
<form action="/delete-lecturer" method="POST">
    <input type="hidden" name="id" value="<%= selectedLecturer.id %>"/>
    <button type="submit">Delete lecturer</button>
</form>
