<%- include('partials/header', { title: `Edit lecturer (${editedLecturer.firstName} ${editedLecturer.lastName})` }) %>

<h1>Edit lecturer:</h1>

<form action="/lecturer-edited" method="POST">
    <div>
        <label for="firstName">First name:</label>
        <input type="firstName" name="firstName" id="firstName" value="<%= editedLecturer.firstName%>"/>
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input type="lastName" name="lastName" id="lastName" value="<%= editedLecturer.lastName%>"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= editedLecturer.email%>"/>
    </div>
    <div>
        <label for="yearsOfExperience">Experience (years):</label>
        <input type="yearsOfExperience" name="yearsOfExperience" id="yearsOfExperience" value="<%= editedLecturer.yearsOfExperience%>}"/>
    </div>
    <div>
        <label for="office">Office:</label>
        <input type="office" name="office" id="office" value="<%= editedLecturer.office%>"/>
    </div>
    <div>
        <label for="subjects">Select subjects:</label><br />
        <% subjects.forEach(subject => { %>
            <input type="checkbox" name="subjects" value="<%= subject.id %>" id="<%= subject.id %>" 
            <%= editedLecturer.subjects && editedLecturer.subjects.includes(subject.id) ? 'checked' : '' %> />
            <label for="<%= subject.id %>"><%= subject.subject %></label><br />
        <% }) %>
    </div>

    <div>
        <label for="groups">Select student groups:</label><br />
        <% groups.forEach(group => { %>
            <input type="checkbox" name="groups" value="<%= group.id %>" id="<%= group.id %>" 
            <%= editedLecturer.groups && editedLecturer.groups.includes(group.id) ? 'checked' : '' %> />
            <label for="<%= group.id %>"><%= group.name %></label><br />
        <% }) %>
    </div>

    <input type="hidden" name="id" value="<%= editedLecturer.id%>"/>
    <button type="submit">Edit lecturer</button>
</form>

<%- include('partials/footer') %>
