<%- include('partials/header', {title: 'Students'}) %>
    
<a href="/">Go back to home page</a>

<% if ( students.length > 0 ) { %>
    <h1>Student's List (<%= students.length %>)</h1>
<% } else { %>
    <h1>No students yet...</h1>
<% } %>


<a href="<%= newStudentButton.url%>"><%= newStudentButton.title%></a>

<% if (students.length > 0) { %>
    <ul>
        <% students.forEach(student => { %>
            <li><a href="/students/<%= student.id %>"><%= student.name %> <%= student.surname%></a></li>
        <% }); %>        
    </ul>
<%}%>
    
<%- include('partials/footer') %>
