<%- include('partials/header', { title: `${foundSubject.subject}` }) %>

<a href="/">Go back to home page</a>

<h1><%= foundSubject.subject %></h1>
<a href="/edit-subject/<%= foundSubject.id %>">Edit subject</a>
<form action="/delete-subject" method="POST">
    <input type="hidden" name="id" value="<%= foundSubject.id %>"/>
    <button type="submit">Delete subject</button>
</form>

<%- include('partials/footer') %>
